WindowsFormGiayPatin/Service References/ServiceReferenceAdmin/AdminWinform.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2445/AdminWinform.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WedService" />
  <xs:element name="FindAllNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllNguoiDungResult" nillable="true" type="q1:ArrayOfNguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindNguoiDungResult" nillable="true" type="q2:ArrayOfNguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" type="xs:int" />
        <xs:element minOccurs="0" name="ngaysinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" type="xs:int" />
        <xs:element minOccurs="0" name="ngaysinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSanPhamResult" nillable="true" type="q3:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindSanPhamResult" nillable="true" type="q4:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindMaSanPhamResult" nillable="true" type="q5:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSoLuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSoLuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSoLuongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSoLuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSoLuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSoLuongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baohanh" type="xs:int" />
        <xs:element minOccurs="0" name="trangthai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loaimau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kichco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:int" />
        <xs:element minOccurs="0" name="giagiam" type="xs:int" />
        <xs:element minOccurs="0" name="hinhanh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baohanh" type="xs:int" />
        <xs:element minOccurs="0" name="trangthai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loaimau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kichco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:int" />
        <xs:element minOccurs="0" name="giagiam" type="xs:int" />
        <xs:element minOccurs="0" name="hinhanh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllPhanLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllPhanLoaiResult" nillable="true" type="q6:ArrayOfPhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindPhanLoaiResult" nillable="true" type="q7:ArrayOfPhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenpl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhanLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhanLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenpl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhanLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonBan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllHoaDonBanResult" nillable="true" type="q8:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindHoaDonBanResult" nillable="true" type="q9:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtrang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tongtien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtrang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindChiTietHoaDonBanResult" nillable="true" type="q10:ArrayOfCTHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:int" />
        <xs:element minOccurs="0" name="giagiam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertChiTietHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllHoaDonNhapResult" nillable="true" type="q11:ArrayOfHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindHoaDonNhapResult" nillable="true" type="q12:ArrayOfHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tongtien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHoaDonNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindChiTietHoaDonNhapResult" nillable="true" type="q13:ArrayOfCTHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertChiTietHoaDonNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="ThongKeTheoNgayResult" nillable="true" type="q14:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoThang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoThangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="ThongKeTheoThangResult" nillable="true" type="q15:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoNam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoNamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="ThongKeTheoNamResult" nillable="true" type="q16:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>