WebGiayPatin/Service References/ServiceReferenceUser/UserWed1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2445/UserWed.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WedService" />
  <xs:element name="FindAllNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllNguoiDungResult" nillable="true" type="q1:ArrayOfNguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindNguoiDungResult" nillable="true" type="q2:NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" type="xs:int" />
        <xs:element minOccurs="0" name="ngaysinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThongTinDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThongTinDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateThongTinDangNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThongTinCaNhan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaysinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThongTinCaNhanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateThongTinCaNhanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSanPhamResult" nillable="true" type="q3:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPMoi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPMoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSPMoiResult" nillable="true" type="q4:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPNoiBat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPNoiBatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSPNoiBatResult" nillable="true" type="q5:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSPPhanLoaiResult" nillable="true" type="q6:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPKhuyenMai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSPKhuyenMaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllSPKhuyenMaiResult" nillable="true" type="q7:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindSanPhamResult" nillable="true" type="q8:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSoLuongSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSoLuongSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSoLuongSPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSoLuongSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSoLuongSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSoLuongSPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllPhanLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllPhanLoaiResult" nillable="true" type="q9:ArrayOfPhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPhanLoaiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindAllHoaDonBanResult" nillable="true" type="q10:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindHoaDonBanResult" nillable="true" type="q11:HoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBanTheoNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaytu" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ngayden" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHoaDonBanTheoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindHoaDonBanTheoNgayResult" nillable="true" type="q12:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendangnhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tongtien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HuyHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HuyHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HuyHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChiTietHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindChiTietHoaDonBanResult" nillable="true" type="q13:ArrayOfCTHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:int" />
        <xs:element minOccurs="0" name="giagiam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertChiTietHoaDonBanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTimKiemCB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timkiem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTimKiemCBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindTimKiemCBResult" nillable="true" type="q14:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTimKiemNC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timkiem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phanloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giatu" type="xs:int" />
        <xs:element minOccurs="0" name="giaden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTimKiemNCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WedService" minOccurs="0" name="FindTimKiemNCResult" nillable="true" type="q15:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>